{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div>
        <h1>Mes commandes</h1>
        <div class="card">

        </div>
    </div>

        <div class="card mt-3">
            <h1 class="card-title">Mes factures</h1>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-light">Télécharger</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
