{% extends 'profile/base.html.twig' %}

{% block presation %}
    <h1>Mes Messages</h1>

    <div>
        {% for messagerie in messageries %}
            <div class="card mt-3">
                <div class="card-header">
                    {{ messagerie.seeder.name }}
                </div>
                <div class="card-body">
                    {{ messagerie.title }}

                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_profile_messagerie_show', {id: messagerie.id}) }}"
                           class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
